* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

#vueCalc {
  padding: 4em;
  display: flex;
  justify-content: center; }

#display {
  display: grid;
  grid-template-columns: 2fr;
  width: 13.5em;
  font-size: 2em;
  padding: 1.5em;
  height: 6em;
  border-radius: 10px 10px 0px 0px;
  text-align: end; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 2em;
  width: 13.5em; }
  .wrapper div {
    text-align: center;
    padding: 1em; }
  .wrapper .white:hover {
    filter: brightness(95%); }
  .wrapper .rose:hover {
    filter: brightness(95%); }
  .wrapper .pink:hover {
    filter: brightness(95%); }

#leftCorner {
  border-radius: 0px 0px 0px 10px; }

#rightCorner {
  border-radius: 0px 0px 10px 0px; }

.rose {
  background-color: #F4B6CB; }

.pink {
  background-color: #CC768D; }

.white {
  background-color: #F3F4EE; }
